@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background: rgb(77, 129, 197);
  height: 15vh;
}

header nav .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: "Style Script", cursive;
}

header nav {
  display: flex;
}

header nav .logo-icon {
  width: 115px;
  clip-path: circle();
}

header nav .logo-img {
  padding: 7px;
  /* border: 3px solid; */
}

/* SECTION */

section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(../images/section-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
section ul li a {
  text-decoration: none;
  background: #fff;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  padding: 8px;
}
section ul li {
  list-style: none;
  margin: 10px;
}

section ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
